.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.map-container {
  flex: 2;
}
#map {
  height: 500px;
  width: 100%;
}

.side-panel {
  flex: 1;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

.side-panel h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.side-panel input[type="text"],
.side-panel select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.side-panel button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.side-panel button:hover {
  background-color: #45a049;
}


#loader-overlay {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 26px solid #45a049;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 9999; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}