<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Mapa z kategoriami</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin=""/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_map.css') }}">

</head>
<body>
  <h2 style="text-align: center;">Mapa</h2>
  <div class="container">
    <div class="map-container">
      <div id="map" data-lat="{{ lat }}" data-lon="{{ lon }}"></div>
    </div>
    <div class="side-panel">
      <h2>Kategorie</h2>
      <label for="kategoria">Wybierz kategorię:</label>
      <select id="kategoria" name="kategoria">
        <option value="restaurant">Restauracja</option>
        <option value="school">Szkoła</option>
        <option value="hospital">Szpital</option>
        <option value="bar">Bar</option>
        <option value="cafe">Kawiarnia</option>
        <option value="place_of_worship">Kościół</option>
        <option value="fast_food">Restauracja fast food</option>
        <option value="college">Uczelnia</option>
        <option value="driving_school">Szkoła jazdy</option>
        <option value="kindergarten">Przedszkole</option>
        <option value="parking">Parking</option>
        <option value="pharmacy">Apteka</option>
        <option value="casino">Kasyno</option>
        <option value="cinema">Kino</option>
        <option value="courthouse">Sąd</option>
        <option value="fire_station">Straz pozarna</option>
        <option value="police">Policja</option>
      </select>

      <label for="radius">Promień (w kilometrach):</label>
      <input type="text" id="radius" name="radius" placeholder="Wpisz promień">

      <button id="find-btn">Znajdź pod promieniem</button>
    </div>
  </div>

  <div id="loader" class="loader" style="display:none;"></div>
  <div id="results" style="padding: 20px"></div>
  
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
  <script src="{{ url_for('static', filename='js/map_init.js') }}"></script>
  <script src="{{ url_for('static', filename='js/overpass.js') }}"></script>
</body>
</html>
